<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script>
    function clearDataTable() {
      document.getElementByTagName("tbody").empty();
    }
  </script>

  <title>Industrial Informatics</title>
</head>

<body onload="clearDataTable()">

  <div class="jumbotron jumbotron-fluid text-center bg-dark text-white">
    <h1>Industrial Informatics</h1>
    <p>Client/Server application in OPC UA</p>
    <p>Claudio Curto - Manlio Puglisi</p>
  </div>


  <!--inserire tabella-->

  <table id="datatable" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Città</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Pressione</th>
        <th scope="col">Umidità</th>
        <th scope="col">Meteo</th>
      </tr>
    </thead>
    <tbody>
      <% console.log(jsonRes); %>
      <% for(var i=0; i<jsonRes.length; i++) { %>
      <tr>
        <td><%= jsonRes[i].city %></td>
        <td><%= jsonRes[i].temp %></td>
        <td><%= jsonRes[i].pres %></td>
        <td><%= jsonRes[i].humi %></td>
        <td><%= jsonRes[i].weat %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>

</html>